<div class="container">
    <form name="form" role="form" class="form" novalidate>
    <div class="row">
	    <div class="form-group col-md-4 col-sm-6">
	        <label class="control-label">Registration Number</label>
	        <input type="text" 
	               name="regNo"
	               class="form-control" 
	               ng-model="vehicle.regNo" 
	               ng-maxlength="20"
	               autocomplete="off"
	               ng-readonly="state == _CONSTANT._STATES.VEHICLES_EDIT"
	               ng-required="true"
	         />  
	         <p class="help-block">
	            <span ng-if="form.regNo.$error.maxlength">Cannot be more than 20 characters</span>
	            <span ng-if="form.regNo.$error.required">Required field</span>
	         </p>
	    </div>
	    
		<div class="form-group col-md-4 col-sm-6">
		     <label class="control-label">Vehicle Type</label> 
		     <select name="type"
		             ng-model="vehicle.type" 
		             ng-options="_type for _type in vehicleTypes track by _type"
		             ng-required="true"
		             ng-readonly="false"
		             ng-disabled="false"
		             class="form-control">
		         <option value=""></option>
		     </select>
		     <p class="help-block">
		         <span ng-if="form.type.$error.required">Required field</span>
		     </p>
		 </div>
		 
        <div class="form-group col-md-4 col-sm-6">
            <label class="control-label">Capacity</label>
            <input type="number" 
                   name="capacity"
                   class="form-control" 
                   ng-model="vehicle.capacity" 
                   autocomplete="off"
                   ng-readonly="false"
                   ng-required="false"
                   ng-min="1"
                   ng-max="10"
             />
             <p class="help-block">
                 <span ng-if="form.capacity.$error.min || form.capacity.$error.max">Capacity should be in the range 1 to 10</span>
             </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <button class="btn btn-success pull-right" type="submit" ng-if="state == _CONSTANT._STATES.VEHICLES_ADD" ng-click="addNew()">Save Vehicle</button>
            <button class="btn btn-success pull-right" type="submit" ng-if="state == _CONSTANT._STATES.VEHICLES_EDIT" ng-click="update()">Update Vehicle</button>
        </div>
    </div>
    </form>
</div>