<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
    xmlns:sec="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-3.2.xsd 
                        http://www.springframework.org/schema/security/oauth2 
                        http://www.springframework.org/schema/security/spring-security-oauth2-2.0.xsd">

    <mvc:annotation-driven />
    <context:annotation-config />

    <!-- ########################################################################################## -->
    <!-- ############ PROPERTIES ################################################################## -->
    <bean id="propertiesBean" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                    <value>classpath:properties/config.properties</value> <!-- Local configuration file -->
            </list>
        </property>
    </bean>
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="propertiesBean" />
    </bean>
    <!-- ############ PROPERTIES ################################################################## -->
    <!-- ########################################################################################## -->

    <!-- ########################################################################################## -->
    <!-- ############ MVC CONTROLLER ############################################################## -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/api/**"/>
            <mvc:mapping path="/sso/**" />
            <mvc:mapping path="/" />
            <bean id="webContentInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
                <property name="cacheSeconds" value="0"/>
                <property name="useExpiresHeader" value="true"/>
                <property name="useCacheControlHeader" value="true"/>
                <property name="useCacheControlNoStore" value="true"/>
            </bean>
        </mvc:interceptor>
        
    </mvc:interceptors>


    <context:component-scan base-package="com.draks.vms.web, com.draks.vms.rest, com.draks.vms.model, com.draks.vms.service" />
    <!-- ############ MVC CONTROLLER ############################################################## -->
    <!-- ########################################################################################## -->


    <!-- ########################################################################################## -->
    <!-- ############ RESOURCES ############################################################## -->
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <mvc:resources mapping="/webjars/**" location="/webjars/" />
    <!-- ############ RESOURCES ############################################################## -->
    <!-- ########################################################################################## -->
    
    
    <!-- ########################################################################################## -->
    <!-- ############ JSP ######################################################################### -->
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.JstlView</value>
        </property>
        <property name="prefix">
            <value>/resources/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
    <!-- ############ JSP ######################################################################### -->
    <!-- ########################################################################################## -->
    

</beans>